.left > img{
    width: 60%;
    border: 1px solid rgba(172, 255, 47, 0.329);
/* filter: drop-shadow(10px 10px 4px #4444dd); */
    border-radius: 50%;
    background-color: chartreuse;
    filter:opacity(10px 10px );
    filter: drop-shadow(10px 10px rgba(112, 243, 11, 0.816));
    

}
.right{
    text-align: center;
    border: 1px solid red;
    width: 75%;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    background-color:chartreuse;
    border-radius: 10px;

}

.left{
    width: 20%;
    /* background-color: chartreuse; */
}
.navcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
 /* background-color: chartreuse; */
}
.details{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration-line: line-through;
    text-decoration: solid;
}

.body{
    background-color:bisque;
    padding: 2px;
    border: 1px;
    text-decoration: underline;
}
.payment{
    font-weight: bolder;
    width: 20%;
    text-align: left;
    font-size: x-large;
    padding: 4px;
    border: 2px;
    width: 30%;
}
.payment>:hover{
    background-color:rgb(123, 239, 0);
    cursor: pointer;
}